<div id="pageTitle">
	<h1><%= @mijnahoy.titel%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @mijnahoy.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td class="itemLabel">Titel</td>
        <td class="itemValue"><%= @mijnahoy.titel%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Datum</td>
        <td class="itemValue"><%= @mijnahoy.datum%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Categorie</td>
        <td class="itemValue"><%= @mijnahoy.categorie%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Text</td>
        <td class="itemValue"><%= @mijnahoy.text%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Imagesmall</td>
        <td class="itemValue"><%= @mijnahoy.imagesmall%></td>
      </tr>
      
    </table>
</div>