<div id="pageTitle">
	<h1>Edit <%= @agenda.titel%></h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%= link_to "Cancel", :action => :show, :id => @agenda.object %></div>
    <div id="rightItem" class="regularButton"><%= link_to "Delete", :action => :delete, :id => @agenda.object %></div>
</div>

<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
            <input type="hidden" name="id" value="<%= @agenda.object %>"/>
            <ul>
                
                <li>
                    <label for="agenda[titel]" class="fieldLabel">Titel</label>
                    <input type="text" name="agenda[titel]" value="<%= @agenda.titel%>" <%= placeholder( "Titel" ) %> />
                </li>
                
                <li>
                    <label for="agenda[datum]" class="fieldLabel">Datum</label>
                    <input type="text" name="agenda[datum]" value="<%= @agenda.datum%>" <%= placeholder( "Datum" ) %> />
                </li>
                
                <li>
                    <label for="agenda[category]" class="fieldLabel">Category</label>
                    <input type="text" name="agenda[category]" value="<%= @agenda.category%>" <%= placeholder( "Category" ) %> />
                </li>
                
                <li>
                    <label for="agenda[text]" class="fieldLabel">Text</label>
                    <input type="text" name="agenda[text]" value="<%= @agenda.text%>" <%= placeholder( "Text" ) %> />
                </li>
                
                <li>
                    <label for="agenda[imagesmall]" class="fieldLabel">Imagesmall</label>
                    <input type="text" name="agenda[imagesmall]" value="<%= @agenda.imagesmall%>" <%= placeholder( "Imagesmall" ) %> />
                </li>
                
                <li>
                    <label for="agenda[imagebig]" class="fieldLabel">Imagebig</label>
                    <input type="text" name="agenda[imagebig]" value="<%= @agenda.imagebig%>" <%= placeholder( "Imagebig" ) %> />
                </li>
                
            </ul>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>