<div id="pageTitle">
		<h1>Edit <%= @agenda.titel%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @agenda.object %>
    <%= link_to "Delete", :action => :delete, :id => @agenda.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @agenda.object %>"/>
            <table>
        		
                    <tr>
            			<td class="itemLabel">Titel: </td>
              			<td class="itemValue"><input type="text" name="agenda[titel]" value="<%= @agenda.titel %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Datum: </td>
              			<td class="itemValue"><input type="text" name="agenda[datum]" value="<%= @agenda.datum %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Category: </td>
              			<td class="itemValue"><input type="text" name="agenda[category]" value="<%= @agenda.category %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Text: </td>
              			<td class="itemValue"><input type="text" name="agenda[text]" value="<%= @agenda.text %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Imagesmall: </td>
              			<td class="itemValue"><input type="text" name="agenda[imagesmall]" value="<%= @agenda.imagesmall %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Imagebig: </td>
              			<td class="itemValue"><input type="text" name="agenda[imagebig]" value="<%= @agenda.imagebig %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
