<div id="pageTitle">
	<h1>New <%= @agenda.title %></h1>
</div>

<div id="toolbar">
     <div id="leftItem" class="backButton"><%= link_to "Cancel", :action => :index %></div>
</div>

<div id="content">
    <form method="POST" action="<%= url_for :action => :create %>">
            <input type="hidden" name="id" value="<%= @agenda.object %>"/>
            <ul>
                
                <li>
                    <label for="agenda[titel]" class="fieldLabel">Titel</label>
                    <input type="text" name="agenda[titel]" <%= placeholder( "Titel" ) %> />
                </li>
                
                <li>
                    <label for="agenda[datum]" class="fieldLabel">Datum</label>
                    <input type="text" name="agenda[datum]" <%= placeholder( "Datum" ) %> />
                </li>
                
                <li>
                    <label for="agenda[category]" class="fieldLabel">Category</label>
                    <input type="text" name="agenda[category]" <%= placeholder( "Category" ) %> />
                </li>
                
                <li>
                    <label for="agenda[text]" class="fieldLabel">Text</label>
                    <input type="text" name="agenda[text]" <%= placeholder( "Text" ) %> />
                </li>
                
                <li>
                    <label for="agenda[imagesmall]" class="fieldLabel">Imagesmall</label>
                    <input type="text" name="agenda[imagesmall]" <%= placeholder( "Imagesmall" ) %> />
                </li>
                
                <li>
                    <label for="agenda[imagebig]" class="fieldLabel">Imagebig</label>
                    <input type="text" name="agenda[imagebig]" <%= placeholder( "Imagebig" ) %> />
                </li>
                
            </ul>
            <input type="submit" class="standardButton" value="Create" />
    </form>
</div>