<div id="jqt">

	<div id="home" class="current">
		<div class="toolbar">
		<a class="pageback" href="<%= url_for :action => :index %>" target="_self">Terug</a>
			<h1><%= @agenda.titel%></h1>	
		</div>
		
		<div class="vertical-scroll">
			<div>
				<ul class="rounded">
        
					<li>
						<div class="itemLabel">Titel</div>
						<div class="itemValue"><%= @agenda.titel%></div>
					</li>
					
					<li>
						<div class="itemLabel">Datum</div>
						<div class="itemValue"><%= @agenda.datum%></div>
					</li>
					
					<li>
						<div class="itemLabel">Category</div>
						<div class="itemValue"><%= @agenda.category%></div>
					</li>
					
					<li>
						<div class="itemLabel">Text</div>
						<div class="itemValue"><%= @agenda.text%></div>
					</li>
					
					<li>
						<div class="itemLabel">Imagesmall</div>
						<div class="itemValue"><%= @agenda.imagesmall%></div>
					</li>
					
					<li>
						<div class="itemLabel">Imagebig</div>
						<div class="itemValue"><%= @agenda.imagebig%></div>
					</li>
					
				</ul>
			</div>
		</div>
	</div>	

	
	

</div>