<div id="pageTitle">
		<h1>Edit <%= @mijnahoy.titel%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @mijnahoy.object %>
    <%= link_to "Delete", :action => :delete, :id => @mijnahoy.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @mijnahoy.object %>"/>
            <table>
        		
                    <tr>
            			<td class="itemLabel">Titel: </td>
              			<td class="itemValue"><input type="text" name="mijnahoy[titel]" value="<%= @mijnahoy.titel %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Datum: </td>
              			<td class="itemValue"><input type="text" name="mijnahoy[datum]" value="<%= @mijnahoy.datum %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Categorie: </td>
              			<td class="itemValue"><input type="text" name="mijnahoy[categorie]" value="<%= @mijnahoy.categorie %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Text: </td>
              			<td class="itemValue"><input type="text" name="mijnahoy[text]" value="<%= @mijnahoy.text %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Imagesmall: </td>
              			<td class="itemValue"><input type="text" name="mijnahoy[imagesmall]" value="<%= @mijnahoy.imagesmall %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
