<div id="pageTitle">
	<h1>New <%= @mijnahoy.title %></h1>
</div>

<div id="toolbar">
     <div id="leftItem" class="backButton"><%= link_to "Cancel", :action => :index %></div>
</div>

<div id="content">
    <form method="POST" action="<%= url_for :action => :create %>">
            <input type="hidden" name="id" value="<%= @mijnahoy.object %>"/>
            <ul>
                
                <li>
                    <label for="mijnahoy[titel]" class="fieldLabel">Titel</label>
                    <input type="text" name="mijnahoy[titel]" <%= placeholder( "Titel" ) %> />
                </li>
                
                <li>
                    <label for="mijnahoy[date]" class="fieldLabel">Date</label>
                    <input type="text" name="mijnahoy[date]" <%= placeholder( "Date" ) %> />
                </li>
                
                <li>
                    <label for="mijnahoy[text]" class="fieldLabel">Text</label>
                    <input type="text" name="mijnahoy[text]" <%= placeholder( "Text" ) %> />
                </li>
                
                <li>
                    <label for="mijnahoy[image-s]" class="fieldLabel">Image-s</label>
                    <input type="text" name="mijnahoy[image-s]" <%= placeholder( "Image-s" ) %> />
                </li>
                
                <li>
                    <label for="mijnahoy[image-l]" class="fieldLabel">Image-l</label>
                    <input type="text" name="mijnahoy[image-l]" <%= placeholder( "Image-l" ) %> />
                </li>
                
            </ul>
            <input type="submit" class="standardButton" value="Create" />
    </form>
</div>